*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden
{
  display: none;
}

.processPage
{
  overflow-x: hidden;
}

body
{
  overflow-x: hidden;
}

/* Navigation bar edits starts here */

.headCon
{
  background-color: #7a4c08;
  height: 10vh;
}

.headCon nav
{
  display: flex;
  width: 90%;
  margin: auto;

  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo
{
  flex: 1;
  /* background-color: red; */
}

.logo img
{
  width: 12vh;
  height: auto;

  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

.nav-links
{
  display: flex;
  justify-content: space-between;
  /* flex: 1; */
  width: 50%;
  /* background-color: green; */
  padding-right: 50px;
}

.nav-links li
{
  margin-top: 20px;
}

.nav-links li a
{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 0.5px;
  text-decoration: none;
  list-style: none;

  color: #fff;
}

.navHover::after
{
  content: "";
  margin-top: 5px;
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
}

.navHover:hover::after{
  width: 100%;
  margin-top: 5px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -ms-transition: width 0.3s;
}

.active::after
{
  width: 100%;
  margin-top: 5px;
}

.burgerMenu
{
  display: none;
  cursor: pointer;
}

.burgerMenu img
{
  width: 3vh;
  height: auto;
}

.rotateBurger
{
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);

  transition: transform 0.5s ease-in;
}


/* Navigation bar edits ends here */

/* Contact Page - Main Container */

.contactContainer
{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;

  margin-top: 100px;
}

.leftText
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.leftText img
{
  width: 100%;
  height: auto;
}

p.getTouchText
{
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2px;
  color: #7a4c08;
}

.contactForm
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

p.gotText
{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

p.supportText
{
  font-family: 'Poppins', sans-serif;
  font-size: .95rem;
  max-width: 400px;
  text-align: center;
}

form{
  margin-top: 40px;
}

form input
{
  width: 100%;
  border: none;
  border-bottom: 2px solid #7a4c08;
  padding: 10px;
}

form textarea{
  border: 1px solid #7a4c08;
  border-radius: 10px;
}

.but
{
  border: 1px solid #7a4c08;
  background: none;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  margin:10px;
  border-radius: 5px;

  position: relative;
  overflow: hidden;

}

.but1
{
  color: #7a4c08;
}

.but1:hover{
  color: #fff;
}

.but::before
{
  content: " ";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background: #7a4c08;
  z-index: -1;

  transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
}

.but1::before
{
  top: 0;
  border-radius: 0 50% 50% 0%;
}

.but1:hover::before{
  width: 180%;
}


.homeFooter
{
    background-color: #000;
    min-height: 2vh;
    position: relative;
    top: 42px;
}

.widthCon
{
  display: flex;
  align-items: center;
  margin: auto;
  width: 85%;
  justify-content: space-between;
  /* background-color: #000; */
}

.socialMediaRow
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8%;
  margin: 10px;
}

.contactFooter
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000;
  margin-top: 25px;
}

.footerPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
}

.footerNav
{
  width: 90%;
  display: flex;
  justify-content: space-around;

  margin: auto;
}

.footerNav ul
{
  display: flex;
  align-items: center;

  width: 40%;
  /* margin-left: 300px; */
}

.footerNav ul a
{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
}

.socialRow
{
  display: flex;
}

.socialRow img
{
  width: 3.5vh;
  height: auto;
  margin-right: 20px;
}

.socialMediaRow img
{
  width: 30px;
  height: auto;
}

.addPanel p, .copyCon p
{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

p.addTitle
{
  font-weight: bolder;
  letter-spacing: 2px;
}

.copyCon
{
  margin-top: 20px;
}

iframe
{
  width: 50vh;
  height: 30vh;;
  border-radius: 10px;
}


/* Contact Page - Main Container ends*/

/* ABOUT US PAGE STYLING STARTS HERE */

.aboutTitle
{
  height: 50vh;
  background-color: #120528;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/team.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutTitle p
{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
}

.aboutCon, .aboutTagline
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

p.klTag
{
  font-family: 'Arial', sans-serif;
  color: #000;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 1px;

  text-align: center;
}

p.klTagSubText
{
  text-align: center;
  font-size: 1.08em;
}

.redText
{
  color: red;
}

.infoSection
{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 30px;
  background-color: #7a4c08;
  height: 40vh;
}

.verticalLine
{
    border-right: 2px solid;
    height: 30vh;
    width: 0.5vh;
    /* background-color: #000; */
}

.leftInfoCon
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

/* .rightInfoCon
{
  margin-left: 30px;
} */

.yearsCon
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.yearsCon p
{
  text-align: center;
}

p.exCount
{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 2px;

  margin-top: 25px;
}

.yearsCon p.exText
{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.yearsCon img
{
  width: 6vh;
  height: auto;
}

.globeImage
{
  width: 8vh;
  height: auto;
}
.conSection
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;

  width: 80%;
}

.mainConText
{
  text-align: justify;
  width: 40%;
  margin-top: 50px;
}

.mainConText p
{
  font-family: 'Arial', sans-serif;
  color: #000;
  font-size: 1.35em;
}

.bottomTag
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}

.horizon
{
  width: 125vh;
  border-bottom: 3px solid grey;
}

.contactLogo img
{
  width: 20vh;
  height: auto;
  margin-top: 20px;

  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);

  filter: drop-shadow(0px 10px 3px #c2c2c2);
}

.bottomTagLine
{
  margin-top: 60px;
  width: 50%;
}

.bottomTagLine p
{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #7c0000;
  letter-spacing: 2px;
  text-align: center;
  font-style: italic;
}

.footAbout
{
  background-color: #000;
}

.aboutFooter
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: auto;
  margin-top: 30px;

}

.socialRowAbout
{
  display: flex;
}

.socialRowAbout a img
{
  width: 4vh;
  height: auto;
  padding: 5px;
  margin-right: 10px;
}

/* ABOUT US PAGE STYLING ENDS HERE */

/* --- PRODUCT PAGE STYLING STARTS --- */

.productMainCon, .productContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;

  width: 80%;
}

.ourBeerTitle p
{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

.ourBeerTitle p span
{
  color: red;
}

.firstProductCon
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;

  width: 90%;
}

.productContent
{
  flex: 1;
}

.productContainer p
{
    font-family: "Poppins", sans-serif;
    line-height: 35px;
}

p.hurryUPText
{
  font-size: 1.5em;
  font-weight: lighter;
}

p.wipeText
{
  font-family: "Arial", sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  color: #3366b0;
  letter-spacing: 2px;
}

p.alcText
{
  font-size: 1em;
  font-weight: bold;
  color: red;
  letter-spacing: 2px;
}

p.aboutBeer
{
  font-size: 20px;
}

p.aboutBeer span
{
  font-size: 25px;
  font-weight: bold;
  color: red;
  letter-spacing: 3px;
}

.productContent button
{
  margin-top: 60px;
}

.secCon
{
  margin-top: 180px;
}

.secImage
{
  flex: 1;
}

.packageImage img
{
  width: 550px;
  height: auto;
}

.aboutCopyCon
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

/* ----------------Appear Text styles----------------- */

.appearCon, .appearConA, .appearConB
{
  opacity: 0;
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);

  transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
}

.appearText
{
  opacity: 1;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
}

/* ----------------Appear Text styles----------------- */

/* --- PRODUCT PAGE STYLING STARTS ---  */

/* PROCESS PAGE STYLING STARTS HERE */

.parallaxEffect
{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.parallaxEffect p
{
  font-family: 'Poppins', sans-serif;
}

p.divTitle
{
  font-family: 'Arial', sans-serif;
  font-size: 5em;
  font-weight: bolder;
  color: #fff;
}

p.divContent
{
  text-align: center;
  width: 50%;
  font-size: 2em;
  line-height: 60px;
  color: #fff;
}

.parallaxEffect:nth-child(1)
{
  background: url("../images/barley.jpg");
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallaxEffect:nth-child(2)
{
  background: maroon;
  background-size: contain;
  height: 60vh;
}

.parallaxEffect:nth-child(3)
{
  background-image: url("../images/hops.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallaxEffect:nth-child(4)
{
  background: #7a4c08;
  height: 80vh;
}

.parallaxEffect:nth-child(5)
{
  background-image: url("../images/yest.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallaxEffect:nth-child(6)
{
  background: maroon;
  height: 60vh;
}

.parallaxEffect:nth-child(7)
{
  background-image: url("../images/water.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallaxEffect:nth-child(8)
{
  background: #7a4c08;
  height: 40vh;
}

.parallaxEffect:nth-child(9)
{
  background-image: url("../images/packaging.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.parallaxEffect:nth-child(10)
{
  background: maroon;
  height: 60vh;
}

/* PROCESS PAGE STYLING ENDS HERE */

/* Navigation - Media Query */

@media screen and (max-width: 768px)
{

  .nav-links
  {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background-color: #7a4c08;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    transform: translateX(100%);

    transition: transform 0.5s ease-in;
    opacity: 0;
  }

  body{
    overflow-x: hidden;
  }

  .burgerMenu
  {
    display: flex;
  }

  .burgerMenu img
  {
    margin-top: 10px;
  }

  .leftText
  {
    display: none;
  }

  .aboutTitle
  {
      height: 35vh;
  }

  .footerPanel
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
  }

  iframe
  {
    margin-top: 35px;
    width: 50vh;
    height: auto;
  }

  .socialRow
  {
    margin-left: 40px;
  }

  /* ABOUT US PAGE STARTS  */

  .conSection
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  .mainConText
  {
    width: 80%;
  }

  .contactLogo img
  {
    width: 13vh;
    height: auto;
    margin-top: 20px;

    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);

    filter: drop-shadow(0px 10px 3px #c2c2c2);
  }

  .bottomTagLine
  {
    margin-top: 60px;
    width: 85%;
  }

  .socialRowAbout a img
  {
    width: 3vh;
    height: auto;
  }

  .infoSection
  {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 30px;
    background-color: #7a4c08;
    height: 25vh;
  }

  .verticalLine
  {
    height: 15vh;
  }

  .yearsCon img
  {
    width: 3vh;
    height: auto;
  }

  #globeImage
  {
    width: 4vh;
    height: auto;
  }

  .yearsCon p
  {
    width: 60%;
    text-align: center;
  }

  p.exCount
  {
    font-size: 1.5em;
  }

  .yearsCon p.exText
  {
    font-size: 0.95em;
  }

  .leftInfoCon
  {
    width: 95%;
    align-items: center;
  }
  /* ABOUT US PAGE ENDS HERE  */

  /* PRODUCT PAGE STARTS HERE */

  .firstProductCon
  {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 80px;
  }

  .productContent
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flexCon
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* PRODUCT PAGE ENDS HERE */

  /* Process Page Starts Here */
  p.divTitle
  {
    font-family: 'Arial', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
  }

  p.divContent
  {
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    color: #fff;
    line-height: 35px;
  }

  .parallaxEffect:nth-child(1)
  {
    background: url("../images/barley.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(2)
  {
    background: maroon;
    background-size: contain;
    height: 40vh;
  }

  .parallaxEffect:nth-child(3)
  {
    background-image: url("../images/hops.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(4)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(5)
  {
    background-image: url("../images/yest.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(6)
  {
    background: maroon;
    height: 40vh;
  }

  .parallaxEffect:nth-child(7)
  {
    background-image: url("../images/water.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(8)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(9)
  {
    background-image: url("../images/packaging.png");
    min-height: 60vh;
    height: 20vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(10)
  {
    background: maroon;
    height: 40vh;
  }
  /* Process Page Starts Here */
}

@media screen and (max-width: 950px)
{
  .nav-links
  {
      width: 70%;
  }
  .leftText
  {
    display: none;
  }
  .footerNav ul
  {
      display: none;
  }
  /* ABOUT US PAGE STARTS  */

  .conSection
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }

  .mainConText
  {
    width: 80%;
  }

  .contactLogo img
  {
    width: 13vh;
    height: auto;
    margin-top: 20px;

    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);

    filter: drop-shadow(0px 10px 3px #c2c2c2);
  }

  .bottomTagLine
  {
    margin-top: 60px;
  }

  .horizon
  {
    width: 80vh;
  }

  .socialRowAbout a img
  {
    width: 3vh;
    height: auto;
  }

  .infoSection
  {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 30px;
    background-color: #7a4c08;
    height: 25vh;
  }

  .verticalLine
  {
    height: 15vh;
  }

  .yearsCon img
  {
    width: 3vh;
    height: auto;
  }

  #globeImage
  {
    width: 4vh;
    height: auto;
  }

  .yearsCon p
  {
    width: 60%;
    text-align: center;
  }

  p.exCount
  {
    font-size: 1.5em;
  }

  .yearsCon p.exText
  {
    font-size: 0.95em;
  }

  .leftInfoCon
  {
    width: 95%;
    align-items: center;
  }
  /* ABOUT US PAGE ENDS HERE  */

  /* PRODUCT PAGE STARTS HERE */

  .firstProductCon
  {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 80px;
  }

  .productContent
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flexCon
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* PRODUCT PAGE ENDS HERE */

  p.divTitle
  {
    font-family: 'Arial', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
  }

  p.divContent
  {
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    color: #fff;
    line-height: 35px;
  }

  .parallaxEffect:nth-child(1)
  {
    background: url("../images/barley.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(2)
  {
    background: maroon;
    background-size: contain;
    height: 40vh;
  }

  .parallaxEffect:nth-child(3)
  {
    background-image: url("../images/hops.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(4)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(5)
  {
    background-image: url("../images/yest.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(6)
  {
    background: maroon;
    height: 40vh;
  }

  .parallaxEffect:nth-child(7)
  {
    background-image: url("../images/water.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(8)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(9)
  {
    background-image: url("../images/packaging.png");
    min-height: 60vh;
    height: 20vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(10)
  {
    background: maroon;
    height: 60vh;
  }

  /* PROCESS PAGE ENDS HERE */

}

@media screen and (max-width: 1100px)
{
  /* ABOUT US PAGE  */
  .aboutTitle
  {
      height: 35vh;
  }

  .leftInfoCon
  {
    width: 90%;
  }

  .horizon
  {
    width: 60vh;
  }

  .bottomTagLine
  {
    width: 75%;
  }

  .socialRowAbout a img
  {
    width: 3vh;
    height: auto;
  }
  /* ABOUT US PAGE  ENDS*/

  /* PRODUCT PAGE STYLING */

  .firstProductCon
  {
    width: 95%;
  }

  /* PROCESS PAGE STYLING */

  p.divTitle
  {
    font-family: 'Arial', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
  }

  p.divContent
  {
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    color: #fff;
    line-height: 35px;
  }

  .parallaxEffect:nth-child(1)
  {
    background: url("../images/barley.jpg");
    min-height: 60vh;
    height: 45vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(2)
  {
    background: maroon;
    background-size: contain;
    height: 40vh;
  }

  .parallaxEffect:nth-child(3)
  {
    background-image: url("../images/hops.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(4)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(5)
  {
    background-image: url("../images/yest.jpg");
    min-height: 60vh;
    height: 45vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(6)
  {
    background: maroon;
    height: 40vh;
  }

  .parallaxEffect:nth-child(7)
  {
    background-image: url("../images/water.jpg");
    min-height: 60vh;
    height: 30vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(8)
  {
    background: #7a4c08;
    height: 40vh;
  }

  .parallaxEffect:nth-child(9)
  {
    background-image: url("../images/packaging.png");
    min-height: 60vh;
    height: 20vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .parallaxEffect:nth-child(10)
  {
    background: maroon;
    height: 40vh;
  }

  /* PROCESS PAGE ENDS HERE */
}

/* Navigation - Media Query ends */

.activateLink    /* Slide nav bar visible */
{
  transform: translate(20%);
  opacity: 1;
}
